body {
color:white;
background:black;
margin: 0px;
font-family: "Chakra Petch", sans-serif;
}

header {

border-bottom: solid 2px rgb(42, 228, 98);
padding: 20px;
font-size: 32px;
color: rgb(218, 167, 248);
}

.chamada{
    background:rgb(101, 4, 139);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto{
margin-right: 5%
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}


.categoria-videos{
display: flex;
overflow-x: auto;
gap: 10px;

}

.categoria{
padding-left: 20px;
padding-left: 20px;
}

.categoria-videos img {
opacity: 0.115;
height: 200;
}

.categoria-videos img:hover {
opacity: 1.0;
border: 1px solid purple;
}


